*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  padding: 20px 40px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(215, 215, 215);
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(215, 215, 215);
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(215, 215, 215);
}

.main {
  display: block;
  width: 100%;
  min-height: 100vh;
  background: -o-linear-gradient(336.98deg, #5C037F 43.75%, #BE0DAF 100%);
  background: linear-gradient(113.02deg, #5C037F 43.75%, #BE0DAF 100%);
}
.main__flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}