*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(215, 215, 215);
}
@media (max-width: 767px) {
  .subtitle {
    font-size: 16px;
  }
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(215, 215, 215);
}
@media (max-width: 767px) {
  .text {
    font-size: 14px;
  }
}

.btn {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(215, 215, 215);
  text-decoration: none;
  border: 3px solid #000;
  background: rgb(0, 0, 0);
}
@media (max-width: 767px) {
  .btn {
    font-size: 16px;
  }
}

button:focus {
  outline: none;
  border: none;
}

.sidebar {
  width: 100%;
  height: 80px;
  padding: 10px 50px 0 50px;
  background-color: rgba(0, 0, 0, 0.653);
  border-bottom: 1px solid #fff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 -5px 50px rgba(115, 115, 115, 0.748);
          box-shadow: 0 -5px 50px rgba(115, 115, 115, 0.748);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  .sidebar {
    padding: 10px 5px;
  }
}
.sidebar__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__burger {
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  position: relative;
}
.sidebar__burger > span {
  display: block;
  width: 90%;
  height: 3px;
  margin-left: 10%;
  background: #fff;
}
.sidebar__burger::after, .sidebar__burger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
}
.sidebar__burger::after {
  bottom: 3px;
}
.sidebar__burger::before {
  top: 3px;
}
.sidebar__burger.hidden {
  display: none;
}
@media screen and (max-width: 767px) {
  .sidebar__burger {
    display: block;
  }
}
.sidebar__logo {
  width: 55px;
  height: 100%;
}
.sidebar__logo.hidden {
  display: none;
}
.sidebar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .sidebar__nav {
    margin: 0 auto;
    display: none;
    -webkit-transform: translateX(150%);
        -ms-transform: translateX(150%);
            transform: translateX(150%);
  }
  .sidebar__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: navAnim 0.5s ease 0.1s forwards;
            animation: navAnim 0.5s ease 0.1s forwards;
  }
}
@-webkit-keyframes navAnim {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes navAnim {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.sidebar__link {
  height: 100%;
  text-align: center;
  text-decoration: none;
  position: relative;
}
.sidebar__link > p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.sidebar__link > svg {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar__link:hover > svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sidebar__link::after {
  content: "";
  width: 0;
  height: 4px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar__link.active::after {
  width: 100%;
}
.sidebar__link.active > svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 100px 30px;
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 50px;
  }
}
.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}
@media (max-width: 1199px) {
  .main__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__content {
  max-width: 600px;
}
@media (max-width: 1199px) {
  .main__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.main__titleblock {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0;
  overflow: hidden;
  background: rgb(0, 0, 0);
  border: 5px solid rgb(255, 255, 255);
  position: relative;
}
@media (max-width: 1199px) {
  .main__titleblock {
    text-align: center;
  }
}
.main__titleblock:hover .main__contentBg {
  width: 51%;
}
.main__titleblock:hover .main__title {
  color: rgb(0, 0, 0);
}
.main__titleblock:hover .main__subtitle {
  color: rgb(0, 0, 0);
}
.main__textblock {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 0 25px 0;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border: 5px solid rgb(255, 255, 255);
  position: relative;
}
@media (max-width: 1199px) {
  .main__textblock {
    text-align: center;
  }
}
.main__textblock:hover .main__contentBg {
  width: 51%;
}
.main__textblock:hover .main__text {
  color: #fff;
}
.main__textblock:hover .main__btn {
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: #000;
}
.main__textblock:hover .main__btn:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.main__contentBg {
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main__contentBg:first-child {
  right: 0px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main__contentBg:last-child {
  left: 0px;
}
.main__contentBg.forTitle {
  background: rgb(255, 255, 255);
}
.main__contentBg.forText {
  background: #000;
}
.main__text {
  margin: 15px 15px;
  margin-bottom: 25px;
  color: #000;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  position: relative;
  z-index: 1;
}
.main__title {
  margin: 0 15px;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  position: relative;
  z-index: 1;
}
.main__subtitle {
  margin: 0 15px;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  position: relative;
  z-index: 1;
}
.main__btn {
  margin: 0 15px;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
}
.main__img {
  margin-left: 20px;
}
@media (max-width: 1199px) {
  .main__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.about {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 100px 30px;
  background: rgb(255, 255, 255);
}
@media (max-width: 767px) {
  .about {
    padding: 50px 30px;
  }
}
.about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}
.about__radioButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  max-height: 250px;
}
.about__radioBlock {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__radioBlock:first-child {
  margin-left: 0;
}
.about__radioText {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .about__radioText {
    font-size: 16px;
  }
}
.about__radio {
  display: none;
  width: 25px;
  height: 25px;
  margin: 25px auto;
}
.about__radio + label {
  width: 25px;
  height: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  outline: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.about__radio + label > span {
  display: block;
  width: 10px;
  height: 5px;
  background: #fff;
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 1;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.about__radio + label::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #000;
  border-top: 2px solid rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  -webkit-transition: all 0.5s ease-out 0.3s;
  -o-transition: all 0.5s ease-out 0.3s;
  transition: all 0.5s ease-out 0.3s;
}
.about__radio:hover + label {
  -webkit-transform: rotate(-180deg) scale(1.2);
      -ms-transform: rotate(-180deg) scale(1.2);
          transform: rotate(-180deg) scale(1.2);
}
.about__radio:hover + label::before {
  -webkit-transform: scale(1.2) rotate(-335deg);
      -ms-transform: scale(1.2) rotate(-335deg);
          transform: scale(1.2) rotate(-335deg);
}
.about__radio:checked + label {
  -webkit-transform: rotate(155deg) scale(1.2);
      -ms-transform: rotate(155deg) scale(1.2);
          transform: rotate(155deg) scale(1.2);
  background: #000;
}
.about__radio:checked + label::before {
  -webkit-transform: scale(1.2) rotate(745deg);
      -ms-transform: scale(1.2) rotate(745deg);
          transform: scale(1.2) rotate(745deg);
}
.about__content {
  width: 100%;
  padding: 0 30px;
  overflow-y: hidden;
  border-top: 10px solid #000;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .about__content {
    padding: 0;
  }
}
.about__title {
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}
.about__text {
  display: inline-block;
  width: 100%;
  max-height: 300px;
  margin-bottom: 15px;
  padding: 5px 20px;
  border: 4px solid #fff;
  outline: 4px solid #000;
  background: #000;
  color: #fff;
  opacity: 0;
}
.about__text:last-child {
  overflow-y: scroll;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .about__text {
    padding: 5px;
  }
}
.about__textBlock.active > p {
  -webkit-animation: cardTextAnim 2s ease 0.5s forwards;
          animation: cardTextAnim 2s ease 0.5s forwards;
}
@-webkit-keyframes cardTextAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cardTextAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about__information {
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;
  border: 5px solid #000;
  border-top: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.414);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.414);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.about__information.active {
  display: block;
  -webkit-animation: animate 1s ease 0.2s forwards;
          animation: animate 1s ease 0.2s forwards;
}
.about__mySkills {
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 5px solid #000;
  border-top: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.614);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.614);
  text-align: center;
  position: relative;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.about__mySkills.active {
  display: block;
  -webkit-animation: animate 1s ease 0.2s forwards;
          animation: animate 1s ease 0.2s forwards;
}
@-webkit-keyframes animate {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes animate {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.about__mySkillCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .about__mySkillCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__mySkillCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}
.about__mySkillCol:first-child {
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  .about__mySkillCol {
    margin-left: 0;
  }
}
.about__mySkillCard {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.about__cardStat {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  padding: 10px;
  background: #000;
}
.about__cardLine {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 4px solid #fff;
}
.about__cardLine > span {
  display: block;
  width: 0;
  height: 100%;
  background: #fff;
}
.about__cardLine.one.active > span {
  -webkit-animation: lineAnim1 1s ease 0.5s forwards;
          animation: lineAnim1 1s ease 0.5s forwards;
}
.about__cardLine.two.active > span {
  -webkit-animation: lineAnim2 1s ease 0.5s forwards;
          animation: lineAnim2 1s ease 0.5s forwards;
}
.about__cardLine.three.active > span {
  -webkit-animation: lineAnim3 1s ease 0.5s forwards;
          animation: lineAnim3 1s ease 0.5s forwards;
}
.about__cardLine.four.active > span {
  -webkit-animation: lineAnim4 1s ease 0.5s forwards;
          animation: lineAnim4 1s ease 0.5s forwards;
}
.about__cardLine.five.active > span {
  -webkit-animation: lineAnim5 1s ease 0.5s forwards;
          animation: lineAnim5 1s ease 0.5s forwards;
}
.about__cardLine.six.active > span {
  -webkit-animation: lineAnim6 1s ease 0.5s forwards;
          animation: lineAnim6 1s ease 0.5s forwards;
}
@-webkit-keyframes lineAnim1 {
  from {
    width: 0;
  }
  to {
    width: 96%;
  }
}
@keyframes lineAnim1 {
  from {
    width: 0;
  }
  to {
    width: 96%;
  }
}
@-webkit-keyframes lineAnim2 {
  from {
    width: 0;
  }
  to {
    width: 89%;
  }
}
@keyframes lineAnim2 {
  from {
    width: 0;
  }
  to {
    width: 89%;
  }
}
@-webkit-keyframes lineAnim3 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes lineAnim3 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes lineAnim4 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes lineAnim4 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@-webkit-keyframes lineAnim5 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes lineAnim5 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes lineAnim6 {
  from {
    width: 0;
  }
  to {
    width: 89%;
  }
}
@keyframes lineAnim6 {
  from {
    width: 0;
  }
  to {
    width: 89%;
  }
}
.about__cardLogo {
  opacity: 0;
}
.about__cardLogo.active {
  -webkit-animation: logoAnim 1s ease 0.5s forwards;
          animation: logoAnim 1s ease 0.5s forwards;
}
@-webkit-keyframes logoAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes logoAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about__cardTitle {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: normal;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .about__cardTitle {
    font-size: 16px;
  }
}

.portfolio {
  display: block;
  width: 100%;
  padding: 100px 30px;
  min-height: 100vh;
}
@media (max-width: 767px) {
  .portfolio {
    padding: 50px 30px;
  }
}
.portfolio__title {
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .portfolio__title {
    margin-bottom: 25px;
  }
}
.portfolio__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .portfolio__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.portfolio__card {
  display: block;
  max-width: 600px;
  max-height: 400px;
  margin-right: 20px;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.494);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.494);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio__card:last-child {
  margin-right: 0;
}
.portfolio__card > img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border: 10px solid #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio__card:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.portfolio__card:hover > img {
  -webkit-filter: none;
          filter: none;
}
.portfolio__card.active > img {
  -webkit-filter: none;
          filter: none;
}
@media screen and (max-width: 767px) {
  .portfolio__card {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .portfolio__card:last-child {
    margin-bottom: 0;
  }
}
.portfolio__view {
  display: none;
  width: 100%;
}
.portfolio__view.active {
  display: block;
}
.portfolio__webPreview {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  outline: 5px dashed #fff;
  text-align: center;
}
.portfolio__webImg {
  display: none;
  width: 100%;
  height: 100%;
}
.portfolio__webImg.active {
  display: block;
}
.portfolio__webInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 5px solid rgb(0, 0, 0);
  outline: 5px solid #fff;
  background: #fff;
}
.portfolio__webTitle {
  display: none;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  background: #000;
  border: 5px solid #fff;
  outline: 5px solid rgb(0, 0, 0);
}
.portfolio__webTitle.active {
  display: block;
}
@media screen and (max-width: 767px) {
  .portfolio__webTitle {
    font-size: 20px;
  }
}
.portfolio__webText {
  display: none;
  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  background: #000;
  border: 5px solid #fff;
  outline: 5px solid rgb(0, 0, 0);
}
.portfolio__webText.active {
  display: block;
}
.portfolio__webLink {
  display: block;
  padding: 5px;
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #000;
  border: 5px solid #fff;
  outline: 5px solid rgb(0, 0, 0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio__webLink:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
  outline: 5px solid rgb(255, 255, 255);
}

.contact {
  display: block;
  width: 100%;
  padding: 100px 50px 50px 50px;
  background: #fff;
}
.contact > .container {
  -webkit-perspective: 2500px;
          perspective: 2500px;
}
@media screen and (max-width: 767px) {
  .contact {
    padding: 50px 30px;
  }
}
.contact__wrapper {
  display: block;
  width: 100%;
  margin: 0 auto 40px auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.contact__wrapper.flip {
  -webkit-animation: wrapperFlip 1s ease forwards;
          animation: wrapperFlip 1s ease forwards;
}
.contact__wrapper.unFlip {
  -webkit-animation: wrapperUnFlip 1s ease forwards;
          animation: wrapperUnFlip 1s ease forwards;
}
@-webkit-keyframes wrapperFlip {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@keyframes wrapperFlip {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@-webkit-keyframes wrapperUnFlip {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  25% {
    -webkit-transform: rotateY(220deg);
            transform: rotateY(220deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes wrapperUnFlip {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  25% {
    -webkit-transform: rotateY(220deg);
            transform: rotateY(220deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
.contact__front {
  display: block;
  width: 100%;
  padding: 20px;
  background: #000;
  outline: 5px solid #000;
  border: 5px solid #fff;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}
@media screen and (max-width: 767px) {
  .contact__front {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    padding: 10px;
  }
}
@media screen and (max-width: 300px) {
  .contact__front {
    padding: 0;
  }
}
.contact__Title {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact__Title {
    margin-bottom: 5px;
  }
  .contact__Title.frontTitle {
    margin-bottom: 20px;
  }
}
.contact__card {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact__card:hover {
  -webkit-box-shadow: 0 0 10px rgb(255, 255, 255);
          box-shadow: 0 0 10px rgb(255, 255, 255);
}
@media screen and (max-width: 767px) {
  .contact__card {
    padding: 0;
  }
}
@media screen and (max-width: 300px) {
  .contact__card {
    border-right: none;
    border-left: none;
  }
}
.contact__cardBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 4px solid #000;
  outline: 4px solid #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact__cardBlock:hover {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.568);
          box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.568);
}
@media screen and (max-width: 767px) {
  .contact__cardBlock {
    padding: 5px;
  }
}
@media screen and (max-width: 300px) {
  .contact__cardBlock {
    border-right: none;
    border-left: none;
    outline: none;
  }
}
.contact__cardText {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .contact__cardText {
    font-size: 14px;
  }
}
.contact__back {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #000;
  outline: 5px solid #000;
  border: 5px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}
@media screen and (max-width: 767px) {
  .contact__back {
    -webkit-transform: translateZ(-50px) rotateY(180deg);
            transform: translateZ(-50px) rotateY(180deg);
  }
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.contact__formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .contact__formFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact__inputBlock {
  width: 100%;
}
.contact__inputBlock:first-child {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contact__inputBlock:first-child {
    margin-right: 0;
  }
}
.contact__textarea, .contact__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
}
.contact__textarea:focus, .contact__input:focus {
  outline: none;
  border: none;
}
@media screen and (max-width: 767px) {
  .contact__textarea, .contact__input {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 300px) {
  .contact__textarea, .contact__input {
    margin-bottom: 10px;
  }
}
.contact__input {
  height: 50px;
}
@media screen and (max-width: 767px) {
  .contact__input {
    height: 30px;
  }
}
.contact__textarea {
  height: 200px;
  resize: none;
}
@media screen and (max-width: 767px) {
  .contact__textarea {
    height: 100px;
  }
}
.contact__label {
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  color: #fff;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .contact__label {
    font-size: 16px;
  }
}
.contact__submitBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  border: 3px solid rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact__submitBtn > span {
  margin-right: 10px;
}
.contact__submitBtn > svg > path {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact__submitBtn:hover {
  background: rgb(255, 255, 255);
  color: #000;
}
.contact__submitBtn:hover > svg > path {
  fill: #000;
}
@media screen and (max-width: 767px) {
  .contact__submitBtn {
    padding: 5px;
  }
  .contact__submitBtn > svg {
    width: 30px;
    height: 30px;
  }
}
.contact__flipBtn {
  display: block;
  width: 100px;
  height: 117px;
  margin: 0 auto;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  -webkit-transform: rotate(540deg);
      -ms-transform: rotate(540deg);
          transform: rotate(540deg);
}
.contact__flipBtn > svg {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact__flipBtn:hover > svg {
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.495));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.495));
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.contact__flipBtn.active {
  -webkit-animation: flipActive 1s ease forwards;
          animation: flipActive 1s ease forwards;
}
.contact__flipBtn.inactive {
  -webkit-animation: flipInActive 1s ease forwards;
          animation: flipInActive 1s ease forwards;
}
@media screen and (max-width: 767px) {
  .contact__flipBtn {
    width: 50px;
    height: 58px;
  }
}
.contact__backBG {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  -webkit-perspective: 500;
          perspective: 500;
}
.contact__backBG.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__backBG > code {
  font-size: 24px;
  color: #fff;
}
.contact__sending > span {
  opacity: 0;
}
.contact__sending > span:first-child {
  -webkit-animation: formSpanAnim 0.5s linear infinite alternate 0.5s;
          animation: formSpanAnim 0.5s linear infinite alternate 0.5s;
}
.contact__sending > span:nth-child(2) {
  -webkit-animation: formSpanAnim 0.5s linear infinite alternate 0.75s;
          animation: formSpanAnim 0.5s linear infinite alternate 0.75s;
}
.contact__sending > span:last-child {
  -webkit-animation: formSpanAnim 0.5s linear infinite alternate 1s;
          animation: formSpanAnim 0.5s linear infinite alternate 1s;
}
.contact__sending.hidden {
  display: none;
}
@-webkit-keyframes formSpanAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes formSpanAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact__sucsefull {
  display: none;
  margin-bottom: 20px;
}
.contact__sucsefull.active {
  display: block;
}
.contact__error {
  display: none;
}
.contact__error.active {
  display: block;
}
.contact__sucsefullSVG {
  display: none;
}
.contact__sucsefullSVG.active {
  display: block;
  -webkit-animation: formSvgAnim 1s ease forwards;
          animation: formSvgAnim 1s ease forwards;
}
@-webkit-keyframes formSvgAnim {
  from {
    -webkit-transform: rotateY(-720deg);
            transform: rotateY(-720deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes formSvgAnim {
  from {
    -webkit-transform: rotateY(-720deg);
            transform: rotateY(-720deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes flipInActive {
  0% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  20% {
    -webkit-transform: rotate(500deg);
            transform: rotate(500deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}
@keyframes flipInActive {
  0% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  20% {
    -webkit-transform: rotate(500deg);
            transform: rotate(500deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}
@-webkit-keyframes flipActive {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}
@keyframes flipActive {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

.footer {
  display: block;
  width: 100%;
  max-height: 200px;
  padding: 20px 30px;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  max-height: 40px;
  margin-bottom: 20px;
}
.footer__link {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.footer__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.503);
          box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.503);
}
.footer__link:first-child {
  margin-left: 0;
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  color: white;
}
.footer__copyright > p {
  margin-right: 10px;
}
@media screen and (max-width: 310px) {
  .footer__copyright > p {
    font-size: 14px;
  }
}
.footer__logo {
  width: 40px;
  height: 100%;
}