// Обнуление стилей
@import "./modules/nullstyle";

// Добавление миксинов переменных и т.д
@import "./modules/elements";


// Общие стили

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
}

.container {
    max-width: 1200px;
    margin: 150px auto;
}

.title {
    @include font('Montserrat', sans-serif, 42px, normal, 700, 1.5, #fff)
}
.subtitle {
    @include font('Montserrat', sans-serif, 34px, normal, 400, 1.5, rgb(215, 215, 215))
}
.text {
    @include font('Montserrat', sans-serif, 26px, normal, 400, 1.5, rgb(215, 215, 215))
}
.btn {

    padding: 10px;
    
    @include font('Montserrat', sans-serif, 26px, normal, 400, 1.5, rgb(215, 215, 215));

    text-decoration: none;
    border: 3px solid #000;
    background: rgb(0, 0, 0);

}

// import sidebar
@import "./modules/sidebarModule.scss";

// import main
@import "./modules/mainModule.scss";