// Обнуление стилей
@import "./modules/nullstyle.scss";

// Добавление миксинов переменных и т.д
@import "./modules/elements.scss";


// Общие стили

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    @include font('Montserrat', sans-serif, 42px, normal, 700, 1.5, #fff);

    @media (max-width: 767px) {
        font-size: 24px;
    }
}
.subtitle {
    @include font('Montserrat', sans-serif, 34px, normal, 400, 1.5, rgb(215, 215, 215));

    @media (max-width: 767px) {
        font-size: 16px;
    }
}
.text {
    @include font('Montserrat', sans-serif, 26px, normal, 400, 1.5, rgb(215, 215, 215));
    
    @media (max-width: 767px) {
        font-size: 14px;
    }
}   
.btn {

    padding: 10px;
    
    @include font('Montserrat', sans-serif, 26px, normal, 400, 1.5, rgb(215, 215, 215));

    text-decoration: none;
    border: 3px solid #000;
    background: rgb(0, 0, 0);

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

button:focus {
    outline: none;
    border: none;
}

// import sidebar
@import "./modules/sidebarModule.scss";

// import main
@import "./modules/mainModule.scss";

// import about
@import "./modules/aboutModule.scss";

// import portfolio
@import "./modules/portfolioModule.scss";

// import contact
@import "./modules/contact.scss";

// import footer
@import "./modules/footerModule.scss";