.about {
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 100px 30px;

    @media (max-width: 1199px) {
        padding-top: 100px;
    }

    background: rgb(255, 255, 255);
    // .about__flex

    &__flex {
        @include flex(1 1 50%, space-around, center);
        flex-direction: column;
        max-width: 100%;

    }

    // .about__checkboxes

    &__radioButtons {
        @include flex(1 1 50%, space-around, center);
        max-width: 250px;
        max-height: 250px;
    }

    &__radioBlock {
        margin-left: 20px;

        @include flex(1 1 50%, space-around, center);
        flex-direction: column;

        &:first-child {
            margin-left: 0;
        }
    }

    &__radioText {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        
    }

    &__radio {
        display: none;
        width: 25px;
        height: 25px;
        margin: 25px auto;

        &+label {
            width: 25px;
            height: 25px;
            margin-bottom: 25px;

            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);

            outline: 2px solid rgb(0, 0, 0);
            

            cursor: pointer;

            position: relative;

            transition: all .3s linear;


            &>span {
                display: block;
                width: 10px;
                height: 5px;

                background: #fff;

                position: absolute;
                top: -5px;
                right: 0;
                z-index: 1;

                transform: rotate(25deg);
            }
            &::before {
                content: "";
                display: block;

                width: 50px;
                height: 50px;

                border-radius: 50%;
                border: 3px solid #000;
                border-top: 2px solid rgb(255, 255, 255);

                position: absolute;
                top: 50%; margin-top: -25px;
                left: 50%; margin-left: -25px;
                
                transition: all .5s ease-out .3s;
            }

            
        }

        &:hover {

            &+label {
                transform: rotate(-180deg) scale(1.2);

                &::before {
                    transform: scale(1.2) rotate(-335deg);
                }
            }
        }
        &:checked {

            &+label {
                transform: rotate(155deg) scale(1.2);
                background: #000;

                &::before {
                    transform: scale(1.2) rotate(745deg);
                }
            }
        }
    }




    // .about__content

    &__content {
        width: 100%;
        padding: 0 30px;

        @media screen and (max-width: 767px) {
            padding: 0;
        }

        overflow-y: hidden;

        border-top: 10px solid #000;
        border-radius: 10px;

        position: relative;
    }

    &__title {
        margin-bottom: 20px;

        color: #000;
    }

    &__text {
        color: #000;

        opacity: 0;
        transform: translateX(-50%);

        &.active {
            animation: cardTextAnim 1s ease .5s forwards;
        }
    }

    // анимация для текста
    @keyframes cardTextAnim {
      from {
        opacity: 0;
        transform: translateX(-50%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &__information {
        display: none;
        width: 100%;
        height: 100%;
        padding: 15px;

        overflow: hidden;

        border: 5px solid #000;
        border-top: #fff;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.414);

        transform: translateY(-100%);

        &.active {
            display: block;

            animation: animate 1s ease .2s forwards;
        }
    }

    // .about__mySkills

    &__mySkills {
        display: none;
        width: 100%;
        height: 100%;
        padding: 15px;

        border: 5px solid #000;
        border-top: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.614);

        text-align: center;

        position: relative;

        transform: translateY(-100%);

        &.active {
            display: block;

            animation: animate 1s ease .2s forwards;
        }
    }

    // анимация блоков
    @keyframes animate {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
    }

    &__mySkillCards {
        @include flex(1 1 50%, space-around, center);
        width: 100%;

        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
    }

    &__mySkillCol {
        @include flex(1 1 50%, space-around, center);
        flex-direction: column;
        width: 100%;
        height: 100%;

        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }

        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }

    &__mySkillCard {
        width: 100%;
        max-width: 400px;

        
        @include flex(1 1 50%, space-around, center);
        align-items:center;
        margin-bottom: 20px;
    }

    &__cardStat {
        width: 100%;
        height: 100%;

        margin-left: 10px;
        padding: 10px;

        background: #000;
    }

    &__cardLine {
        width: 100%;
        height: 30px;
        padding: 5px;

        border: 4px solid #fff;

        & > span {
            display: block;
            width: 0;
            height: 100%;
            background: #fff;
        }
    
        
        &.one.active {
            & > span {
                animation: lineAnim1 1s ease .5s forwards;
            }
        }
        &.two.active {
            & > span {
                animation: lineAnim2 1s ease .5s forwards;
            }
        }
        &.three.active {
            & > span {
                animation: lineAnim3 1s ease .5s forwards;
            }
        }
        &.four.active {
            & > span {
                animation: lineAnim4 1s ease .5s forwards;
            }
        }
        &.five.active {
            & > span {
                animation: lineAnim5 1s ease .5s forwards;
            }
        }
        &.six.active {
            & > span {
                animation: lineAnim6 1s ease .5s forwards;
            }
        }
    }

    @keyframes lineAnim1 {
        from {
            width: 0;
        }
        to {
            width: 96%;
        }
    }
    
    @keyframes lineAnim2 {
        from {
            width: 0;
        }
        to {
            width: 89%;
        }
    }

    @keyframes lineAnim3 {
        from {
            width: 0;
        }
        to {
            width: 80%;
        }
    }
    @keyframes lineAnim4 {
        from {
            width: 0;
        }
        to {
            width: 85%;
        }
    }
    @keyframes lineAnim5 {
        from {
            width: 0;
        }
        to {
            width: 70%;
        }
    }
    @keyframes lineAnim6 {
        from {
            width: 0;
        }
        to {
            width: 89%;
        }
    }


    &__cardLogo {
        opacity: 0;

        &.active {
            animation: logoAnim 1s ease .5s forwards;
        }
    }

    @keyframes logoAnim {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
    }

    &__cardTitle {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: normal;
        text-align: left;

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
}