.about {
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 200px 30px 0 30px;

    @media (max-width: 1199px) {
        padding-top: 100px;
    }

    background: rgb(255, 255, 255);
    // .about__flex

    &__flex {
        @include flex(1 1 50%, space-around, center);
        flex-direction: column;
        max-width: 100%;

    }

    // .about__checkboxes

    &__radioButtons {
        @include flex(1 1 50%, space-around, center);
        max-width: 200px;
        max-height: 150px;
    }

    &__radioBlock {
        margin-left: 20px;

        @include flex(1 1 50%, space-around, center);
        flex-direction: column;

        &:first-child {
            margin-left: 0;
        }
    }

    &__radioText {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        
    }

    &__radio {
        width: 25px;
        height: 25px;
        margin: 10px auto;
    }

    // .about__content

    &__content {
        max-width: 100%;
        min-height: 300px;
        padding: 30px;

        border-top: 10px solid #000;
        border-radius: 10px;
    }

    &__title {
        color: #000;

        margin-bottom: 20px;
    }

    &__text {
        color: #000;
    }
    
    // .about__information

    &__information {
        width: 100%;
        height: 100%;
    }

    // .about__mySkills

    &__mySkills {
    }
}