.contact {
    display: block;
    width: 100%;
    padding: 100px 50px 50px 50px;

    background: #fff;

    &>.container {
        perspective: 2500px;
    }

    @media screen and (max-width: 767px) {
        padding: 50px 30px;
    }
    // .contact__wrapper

    &__wrapper {
        display: block;
        width: 100%;
        margin: 0 auto 40px auto;

        position: relative;

        transform-style: preserve-3d;
        transform: rotateY(180deg);
        

        &.flip {
            animation: wrapperFlip 1s ease forwards;
        }

        &.unFlip {
            animation: wrapperUnFlip 1s ease forwards;
        }
    }

    @keyframes wrapperFlip {
        0% {
            transform: rotateY(0);
        }
        
        25% {
            transform: rotateY(-40deg);
        }

        100% {
            transform: rotateY(180deg);
        }
    }

    @keyframes wrapperUnFlip {
        0% {
            transform: rotateY(180deg);
        }
        
        25% {
            transform: rotateY(220deg);
        }

        100% {
            transform: rotateY(0deg);
        }
    }

    // .contact__front

    &__front {
        display: block;
        width: 100%;
        padding: 20px;

        background: #000;
        outline: 5px solid #000;
        border: 5px solid #fff;

        transform: translateZ(100px);
        // backface-visibility:hidden;

        @media screen and (max-width: 767px) {
        transform: translateZ(50px);
          padding: 10px;
        }

        @media screen and (max-width: 300px) {
            padding: 0;
          }
    }

    // .contact__Title

    &__Title {
        margin-bottom: 20px;
        text-align: center;

        @media screen and (max-width: 767px) {
          margin-bottom: 5px;

          &.frontTitle {
            margin-bottom: 20px; 
          }
        }
    }

    // .contact__card

    &__card {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;

        border: 2px solid #fff;

        transition: all .3s ease;

        &:hover {
            box-shadow:  0 0 10px rgb(255, 255, 255);
        }

        @media screen and (max-width: 767px) {
          padding: 0;
        }
        @media screen and (max-width: 300px) {
            border-right: none;
            border-left: none;
        }
    }

    &__cardBlock {
        @include flex(1 1 50%, space-between, center);
        width: 100%;
        padding: 10px;

        background: #fff;
        border: 4px solid #000;
        outline: 4px solid #fff;

        transition: all .3s ease;

        &:hover {
            box-shadow: inset 0 0 30px #000;
        }

        @media screen and (max-width: 767px) {
            padding: 5px;
        }

        @media screen and (max-width: 300px) {
            border-right: none;
            border-left: none;
            outline: none;
        }
    }

    // .contact__cardText

    &__cardText {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        text-decoration: underline;

        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
    }

    // ================
    // .contact__back

    &__back {
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px;

        background: #000;
        outline: 5px solid #000;
        border: 5px solid #fff;

        position: absolute;
        top: 0;
        left: 0;

        transform: translateZ(-100px) rotateY(180deg);
        // backface-visibility: hidden;

        @media screen and (max-width: 767px) {
            transform: translateZ(-50px) rotateY(180deg);  
        }
    }

    // .contact__form

    &__form {
        display: flex;
        align-items: left;
        flex-direction: column;

        position: relative;
    }

    &__formFlex {
        @include flex(1 1 50%, space-between, center);
        width: 100%;

        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
    }

    &__inputBlock {
        width: 100%;

        &:first-child {
            margin-right: 10px;

            @media screen and (max-width: 767px) {
                margin-right: 0;
            }
        }
    }

    // .contact__input

    &__textarea,
    &__input {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 5px;

        font-family: 'Source Code Pro', monospace;
        font-size: 24px;

        &:focus {
            outline: none;
            border: none;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
            font-size: 14px;
        }
        @media screen and (max-width: 300px) {
            margin-bottom: 10px;
        }
    }

    &__input {
        height: 50px;

        @media screen and (max-width: 767px) {
            height: 30px;
        }
    }

    &__textarea {
        height: 200px;
        resize: none;

        @media screen and (max-width: 767px) {
          height: 100px;
        }
    }

    &__label {
        font-family: 'Source Code Pro', monospace;
        font-size: 24px;
        color: #fff;
        text-align: left;

        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
    }

    // .contact__submitBtn

    &__submitBtn {
        display: flex;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;

        cursor: pointer;
        border: 3px solid rgb(255, 255, 255);
        transition: all .5s ease;


        &>span {
            margin-right: 10px;
        }

        &>svg>path {
            transition: all .5s ease;
        }

        &:hover {
            background: rgb(255, 255, 255);
            color: #000;

            &>svg>path {
                fill: #000;
            }
        }

        @media screen and (max-width: 767px) {
            padding: 5px;

            &>svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__flipBtn {
        display: block;
        width: 100px;
        height: 117px;
        margin: 0 auto;

        cursor: pointer;
        background: none;
        border: none;
        border-radius: 50%;
        padding: 0;
        transform: rotate(540deg);

        &>svg {
            width: 100%;
            height: 100%;
            transition: all .3s ease;
        }

        &:hover {
            &>svg {
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.495));
                transform: scale(1.1);
            }
        }

        &.active {
            animation: flipActive 1s ease forwards;
        }
        &.inactive {
            animation: flipInActive 1s ease forwards;
        }

        @media screen and (max-width: 767px) {
            width: 50px;
            height: 58px;
        }
    }

    &__backBG {
        display: none;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        background: rgba(0, 0, 0, 0.8);

        perspective: 500;

        &.active {
            display: flex;
        }

        &>code {
            font-size: 24px;
            color: #fff;
        }
    }

    &__sending {
        &>span {
            opacity: 0;

            &:first-child {
                animation: formSpanAnim .5s linear infinite alternate .5s;
            }
            &:nth-child(2) {
                animation: formSpanAnim .5s linear infinite alternate .75s;
            }
            &:last-child {
                animation: formSpanAnim .5s linear infinite alternate 1s;
            }
        }
        &.hidden {
            display: none;
        }
    }

    @keyframes formSpanAnim {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &__sucsefull {
        display: none;
        margin-bottom: 20px;

        &.active {
            display: block;
        }
    }
    &__error {
        display: none;

        &.active {
            display: block;
        }
    }
    &__sucsefullSVG {
        display: none;
        
        &.active {
            display: block;
            animation: formSvgAnim 1s ease forwards; 
        }
    }

    @keyframes formSvgAnim {
      from {
        transform: rotateY(-720deg);
      }
      to {
        transform: rotate(0);
      }
    }

    @keyframes flipInActive {
        0% {
            transform: rotate(540deg);
        }

        20% {
            transform: rotate(500deg);
        }
  
        100% {
              transform: rotate(1080deg);
        }
    }

    @keyframes flipActive {
        0% {
          transform: rotate(0deg);
        }

        25% {
            transform: rotate(-40deg);
        }

        100% {
            transform: rotate(540deg);
        }
    }
}