.main {
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 200px 30px 0 30px;

    @media (max-width: 1199px) {
        padding-top: 100px;
    }

    // .main__flex

    &__flex {
        @include flex(1 1 50%, space-around, center);
        max-width: 100%;

        @media (max-width: 1199px) {
            flex-direction: column;
        }
    }

    // .main__content

    &__content {
        max-width: 600px;

        @media (max-width: 1199px) {
            order: 2;
        }
    }

    &__titleblock {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 0;

        background: rgb(255, 255, 255);
        border: 5px solid rgb(255, 255, 255);

        @media (max-width: 1199px) {
            text-align: center;
        }

        position: relative;

        &:hover {
            .main__contentBg {
                width: 50%;
            }

            .main__title {
                color: #fff;
            }

            .main__subtitle {
                color: #fff;
            }
        }
    }

    &__textblock {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 0 25px 0;

        background: rgb(255, 255, 255);
        border: 5px solid rgb(255, 255, 255);

        position: relative;

        @media (max-width: 1199px) {
            text-align: center;
        }

        &:hover {
            .main__contentBg {
                width: 50%;
            }

            .main__text {
                color: #fff;
            }

            .main__btn {
                background: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
                color: #000;

                &:hover {
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    &__contentBg {
        display: block;
        width: 0%;
        height: 100%;
        background: #000;
        
        position: absolute;
        top: 0px;

        z-index: 0;

        transition: all .5s ease;

        &:first-child {
            right: 0px;
            transform: rotate(180deg);
        }
        &:last-child {
            left: 0px;
        }
    }

    &__text {
        margin: 15px 15px;
        margin-bottom: 25px;

        color: #000;

        transition: all .5s ease .3s;

        position: relative;
        z-index: 1;
    }

    &__title {
        margin: 0 15px;

        color: #000;

        transition: all .5s ease .3s;

        position: relative;
        z-index: 1;
    }

    &__subtitle {
        margin: 0 15px;

        color: #000;

        transition: all .5s ease .3s;

        position: relative;
        z-index: 1;
    }

    &__btn {
        margin: 0 15px;

        color: rgb(255, 255, 255);

        transition: all .5s ease;

        position: relative;
        z-index: 1;
    }


    // .main__img

    &__img {
        margin-left: 20px;

        @media (max-width: 1199px) {
            order: 1;
            margin-left: 0;
            margin-bottom: 30px;
        }
    }
}