.portfolio {
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 100px 30px;

    // .portfolio__title

    &__title {
        text-align: center;
    }

    // .portfolio__flex

    &__flex {
        @include flex(1 1 50%, space-around, center);
        width: 100%;
    }

    // .portfolio__cards

    &__cards {
    }

    // .portfolio__view

    &__view {
    }
}
